body.public{
    background-color: #f0f4f3;
}
.multi_step_form {
    background: #f0f4f3;
    display: block;
    overflow: hidden;
}
.multi_step_form #msform {
    text-align: center;
    position: relative;
    padding-top: 50px;
    min-height: 820px;
    /* max-width: 810px; */
    margin: 0 auto;
    /* background: #fff; */
    z-index: 1;
}
.multi_step_form #msform .tittle {
    text-align: center;
    padding-bottom: 55px;
}
.multi_step_form #msform .tittle h2 {
    font: 500 24px/35px 'Roboto', sans-serif;
    color: #3f4553;
    padding-bottom: 5px;
}
.multi_step_form #msform .tittle p {
    font: 400 16px/28px 'Roboto', sans-serif;
    color: #5f6771;
}
.multi_step_form #msform fieldset {
    border: 0;
    /* padding: 20px 105px 0; */
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
}
.multi_step_form #msform fieldset:not(:first-of-type) {
    display: none;
}
.multi_step_form #msform fieldset h3 {
    font: 500 18px/35px 'Roboto', sans-serif;
    color: #3f4553;
}
.multi_step_form #msform fieldset h6 {
    font: 400 15px/28px 'Roboto', sans-serif;
    color: #5f6771;
    padding-bottom: 30px;
}
.multi_step_form #msform #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    justify-content: space-around;
   display: flex;
   width: 100%;
}
.multi_step_form #msform #progressbar li {
    list-style-type: none;
    color: #5c5c5c;
    font-size: 12px;
    width: 100%;
    float: left;
    position: relative;
    /* font: 500 13px/1 'Roboto', sans-serif; */
}
/* .multi_step_form #msform #progressbar li:nth-child(2):before {
    content: "\f12f";
}
.multi_step_form #msform #progressbar li:nth-child(3):before {
    content: "\f457";
} */
.multi_step_form #msform #progressbar li.one:before {
    content: "1";
}
.multi_step_form #msform #progressbar li.two:before {
    content: "2";
}
.multi_step_form #msform #progressbar li.three:before {
    content: "3";
}
.multi_step_form #msform #progressbar li:before {
    /* content: "\f1fa"; */
    /* font: normal normal normal 30px/50px Ionicons; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    background: #e4e4e4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    font-size: 18px;
}
.multi_step_form #msform #progressbar li.active.done:before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
}
.multi_step_form #msform #progressbar li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #e4e4e4;
    position: absolute;
    left: -50%;
    top: 21px;
    z-index: -1;
}
.multi_step_form #msform #progressbar li:last-child:after {
    width: 150%;
}
.multi_step_form #msform #progressbar li.active {
    color: #005883;
    font-weight: 600;
}
.multi_step_form #msform #progressbar li.active:before, .multi_step_form #msform #progressbar li.active:after {
    background: #005883;
    color: white;
}
.multi_step_form #msform .action-button {
    border-radius: 0px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Sans-serif;
    font-size: 1rem !important;
    font-weight: 400;
    height: auto;
    margin: 0px 0px;
    min-width: 100%;
    padding: 12px 20px;
    text-align: center;
    background-color: #005883;
    transition: all 0.3s ease-in-out;
    border: 1px solid #005883 !important;
}
.multi_step_form #msform .action-button:hover, .multi_step_form #msform .action-button:focus {
    
    border: 1px solid #005883;    
    color: #005883;    
    background-color: #FFFFFF;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.multi_step_form #msform .previous_button {
    background: #dee2e6;
    color: #5c5c5c;
    border-color: #d1d3e2!important;
}
.multi_step_form #msform .previous_button:hover, .multi_step_form #msform .previous_button:focus {
    background: transparent;
    border-color: #405867;
    color: #405867;
}

.multi_step_form #msform button:not(.secondary-button){
    width: 120px; 
}

@media screen and (max-width: 767px) {
    .button-cont, .multi_step_form #msform button{
        width: 100%; 
        
    }
    .multi_step_form #msform .action-button{
        margin-left: 1px;
        margin-right: 1px;
    }
    .button-cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}





/* for mobile */
/* BARS */

.bar {
    text-align: center;
    margin-bottom: 15px;
}

.bar-circle {
    display: inline-block;
    margin: 0 20px;
    height: 15px;
    width: 15px;
    background: #a9a9a9;
    border-radius: 50%;
    border:3px solid #fff;    
    cursor: pointer;
    transition: all 0.3s;
}

.bar-circle.active {
    transform: scale(1.3);
    background: #005883;
    box-shadow: inset 0px 0px 40px rgba(1, 73, 0, 0.1);
}

.bar-circle.active.done,
.bar-circle.done {
    transition: all 1s;
    /* transform: scale(1.3); */
    background: #038bcf;
    box-shadow: inset 0px 0px 40px rgba(1, 73, 0, 0.1);
}

.hide-submit-btn .cbSubmitButton,
.hide-update-btn .cbUpdateButton{
    display: none!important;
}

.lh-20{
    line-height: 20px;
}

[name="InlineAddInvitation_Status_ID"]{
    display: none!important;
}

